.tab-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.tab {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  user-select: none;
  width: fit-content;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
}
.selected-tab {
  background-color: #faa61a;
}
