.container {
  /* overflow-y: auto; */
  position: relative;
  height: 100vh;
  width: 100%;
}

.large-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* .sections {
  max-width: 85%;
  margin: 0 auto;
  padding: 1rem;
} */

/* .zaniyar-component {
  background-color: red;
}  */
