.arsham-section-container {
  position: absolute;
}

.arsham-img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  animation: moveImage 1s infinite alternate;
}

.stop-animation {
  animation: none !important;
}

@keyframes moveImage {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30px);
  }
}
