.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.input-container {
  margin: 0 auto;
  width: 100%;
}

.label {
  font-size: small;
}

.input-filed {
  width: 100%;
  padding-block: 0.5rem;
  border: none;
  border-radius: 0.8rem;
  text-align: center;
}

.register-button {
  background-color: #a6ce39;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3rem;
  margin-block-start: 1rem;
  cursor: pointer;
}
