.cloud-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cloud-img {
  max-width: 100%;
  height: auto;
  animation: slideInFromLeft 5s linear infinite;
  opacity: 0.5;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate .cloud-container {
  animation: slideInFromLeft 5s linear infinite;
}
