.card-container {
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 100px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 8px solid rgba(255, 255, 255, 1);
  padding: 1rem;
  position: absolute;
}

.arrow {
  position: absolute;
  bottom: -30%;
  left: 40%;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .card-container {
    width: 90px;
    height: 150px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 0.5rem;
    position: absolute;
    left: 100%;
    bottom: -120%;
  }

  .arrow {
    width: 50%;
  }
}

@media screen and (min-width: 426px) and (max-width: 640px) {
  .card-container {
    width: 130px;
    height: 150px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 0.5rem;
    position: absolute;
    left: 100%;
    bottom: -50%;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .card-container {
    width: 200px;
    height: 150px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 0.5rem;
    position: absolute;
    left: 100%;
    bottom: -50%;
  }
}

@media screen and (min-width: 769px) and (max-width: 921px) {
  .card-container {
    width: 250px;
    height: 200px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 0.5rem;
    position: absolute;
    left: 100%;
    bottom: -50%;
  }
}

@media screen and (min-width: 922px) and (max-width: 1024px) {
  .card-container {
    width: 300px;
    height: 200px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 0.5rem;
    position: absolute;
    left: 100%;
    bottom: -30%;
  }
}

@media screen and (min-width: 1025px) {
  .card-container {
    width: 400px;
    height: 250px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 0.5rem;
    position: absolute;
    left: 100%;
    bottom: -20%;
  }
}

@media screen and (min-width: 1560px) {
  .card-container {
    width: 300px;
    height: 200px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 0.5rem;
    position: absolute;
    left: 100%;
    bottom: -10%;
  }
}

@media screen and (min-width: 2000px) {
  .card-container {
    width: 300px;
    height: 200px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 0.5rem;
    position: absolute;
    left: 100%;
    bottom: 10%;
  }
}
