.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: 85%;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.navbar-item {
  color: #45196f;
  font-weight: bold;
}
