.register-container {
  width: 100%;
  height: 100vh;
  background-color: #45196f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.zaniyar {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 30%;
  right: 20%;
}

.clouds {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 5%;
  left: 15%;
}

.logo {
  width: 300px;
  height: 300px;
}

.register-title {
  color: #fff;
}

.base-container {
  border: 1px solid #fff;
  border-radius: 5rem;
  padding: 0.5rem 0.8rem;
  margin-block: 1rem;
}

/* .form-container { */
/* background-color: green; */
/* } */
