* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}

.avanian-button {
  border: none;
  padding: 0.5rem 1rem;
  color: #45196f;
  background-color: #fff;
  cursor: pointer;
  border-radius: 1rem;
}
